
#homediv {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
}

html,
body {
	font-family:'Helvetica'
	height: 100%;
 }

.orange {
	background-color: #FFB640;
}

.challenge {
	text-align: center;
	width: 80px;
}

.grade {
	background-color: #005cbf;
	color: white;
	font-size: large;
	font-weight: bold;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-top: 5px;
}

/* Changed the alerts to be on top of the rest of the page, to stop them shifting the content of pages */
#alert {
	text-align: center;
	color: white;
	font-size: larger;
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 250px;
	background-color: #6c87ff;
	width: 200px;
	border: 2px solid #2042af;
	position: absolute;
	z-index: 10;
}

.bulletin {
	margin: 20px;
}

#finalAverage {
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: large;
	font-weight: bolder;
	padding: 3px;
}

.printpinbtn {
	/* The button have a printer image */
	color: transparent;
	background: url(../images/printer.png);
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
}

.printpinbtn:hover {
	/* Delete the background image and show the pin code when hovering the button */
	color: black;
	background-image: none;
}

.sendpinbtn {
	/* Applying a background */
	background: url(../images/phone.png);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
	width: 50px;
	height: 50px;
}

.sendpinbtn:hover {
	color: black;
	background-image: none;
}

.typewriterText {
	font-family: "Courier New";
	font-size: small;
	font-weight: bolder;
}

.techbtitle {
	text-align: center;
	font-size: larger;
	font-weight: bolder;
	background-color: #d2f3c3;
	border: 1px solid #69d78c;
}

.tableheaderrow {
	font-size: larger;
	font-weight: bolder;
	background-color: #d2f3c3;
	border: 1px solid #69d78c;
	height: 60px;
	vertical-align: center;
}

.bordered {
	border: 1px solid black;
}

.branchcell {
	font-weight: bolder;
	width: 80px;
}

.techtable {
	width: 900px;
}

#vnumber {
	font-size: xx-small;
	font-style: italic;
	color: gray;
	float: right;
}